RSS List Subscribe.json
{
  "name": "RSS List Subscribe",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Subscribe-List",
              "type": "array"
            },
            {
              "name": "prefix"
            }
          ]
        }
      },
      "id": "437aa143-cd55-4533-bdbe-119e75f73c2b",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -3888,
        -1504
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Subscribe-List']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3664,
        -1376
      ],
      "id": "39fdd525-9968-45e5-b5be-20caac1c5f71",
      "name": "Split Out"
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -3024,
        -1376
      ],
      "id": "89b49184-cc00-4076-8378-263119620813",
      "name": "Sort"
    },
    {
      "parameters": {
        "url": "={{ $('Start').item.json.prefix }}{{ $json['[\\'Subscribe-List\\']'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -3504,
        -1376
      ],
      "id": "7e69ad5c-62a1-4a7b-89ef-e5011bd90176",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c406f168-ad9e-4dd1-b7e5-b0c82bdbc710",
              "leftValue": "={{ $json.isoDate.toDateTime().toLocal().format('yyyy-MM-dd') }}",
              "rightValue": "={{$now.minus({ days: 1 }).format('yyyy-MM-dd')}}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3344,
        -1376
      ],
      "id": "3821000a-6b61-464a-8571-88711f1b3bc1",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "clearDeduplicationHistory",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -3184,
        -1376
      ],
      "id": "4011b963-8ef0-4ad3-a28e-27c06d62a9ec",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86dff500-7b1f-407a-9f28-b506cdaf145c",
              "name": "contentSnippet_trim",
              "value": "={{ $json.contentSnippet.trim() }}",
              "type": "string"
            },
            {
              "id": "0b2680fd-62c0-4c8b-83e1-1713f0fb1882",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "0478d4a0-c92f-4864-9ff8-a4c09e71b261",
              "name": "article-link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2816,
        -1504
      ],
      "id": "a60dfe51-6527-47ec-b42c-06699e43b3c9",
      "name": "Return"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "554461fd-6510-49b3-abf8-233132b4e5d0",
  "meta": {
    "instanceId": "e756d47592edd19f185d238e2e7478669d735875644e429c83c68ea27b73b843"
  },
  "id": "yaiEVHa7TUxnXLjz",
  "tags": []
}